$exAzul: #154289;
$exGrisClaro: #E1E1E1;
$exGris: #707070;
$exGrisOscuro: #4A4A4A;
$exNegro: #232323;
$exVino: #942D46;
$exPurpura: #6B3176;

.container {
  max-width: 92%;
}

.info {
  margin-left: -20px;
  margin-right: 20px;
  padding-right: 100px;
}

.titulo {
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 36px;
}

.subtitulo {
  color: white;
  font-family: Arial;
  font-size: 16px;
}

.formulario {
  background-color: rgba(225, 225, 225, 0.8);
  color: $exGrisOscuro;
}
