$exAzul: #154289;
$exGrisClaro: #e1e1e1;
$exGris: #707070;
$exGrisOscuro: #4a4a4a;
$exNegro: #232323;
$exVino: #942d46;
$exPurpura: #6b3176;

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-image: url("assets/imagenes/Blue-Background.jpg");
  background-size: cover;
}

.ex-input {
  height: 40px;
  background-color: $exGrisClaro;
  color: $exGris;
  padding-left: 5px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  border: 0px;
  border-bottom: 3px solid $exGris;
}

.ex-label {
  color: $exGris;
  font-family: Arial;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 22px;
}

.ex-input:active, .ex-input:focus {
  border: 0px;
  border-bottom: 3px solid $exAzul;
}

.ex-input:active ~ .ex-label, .ex-input:focus ~ .ex-label, .ex-input.ng-full ~ .ex-label  {
  color: $exAzul;
  font-weight: bold;
  top: -20px;
  left: 15px;
}

.ex-input.ng-invalid.ng-touched {
  border: 1px solid $exVino;
  border-bottom: 3px solid $exVino;
}

.btn-enviar {
  display: block;
  background-color: $exAzul;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.btn-enviar:hover {
  color: white;
  opacity: 1;
  background-color: $exPurpura;
}

.btn-enviar:disabled {
  color: $exGrisClaro;
  opacity: 1;
  background-color: $exGris;
}

.enlace {
  color: $exAzul;
  text-decoration: underline;
  cursor: pointer;
}
